@import url("https://fonts.googleapis.com/css2?family=Anta&family=Great+Vibes&family=Lexend+Giga:wght@100..900&family=Moirai+One&family=Monoton&family=Notable&family=Paprika&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik+Glitch+Pop&family=Short+Stack&family=Tilt+Prism&display=swap");
/* @import-normalize; */
* {
  margin: 0;
  padding: 0;
  font-family: "pecifico";
}
@font-face {
  font-family: Squids;
  src: url("https://fonts.googleapis.com/css2?family=Moirai+One&display=swap");
}
@font-face {
  font-family: Squid;
  src: url(/fonts/Game\ Of\ Squids.ttf);
}
@font-face {
  font-family: Anta;
  src: url(/fonts/Anta-Regular.ttf);
}
@font-face {
  font-family: Playfair;
  src: url(/fonts/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
  font-family: Misa;
  src: url(/fonts/13_Misa.TTF);
}
@font-face {
  font-family: fasterstroker;
  src: url(/fonts/Faster\ Stroker.otf);
}

body {
  box-sizing: border-box;
  background-color: #0c1a32;
  /* background-image: radial-gradient(at 0% 20%, #ffd30030 0px, #01011800 80%); */
}

::-webkit-scrollbar {
  display: none;
}
.container::before,
.container::after {
  justify-content: center;
  align-items: center;
  display: flex;
  top: 0;
  left: 0;
  position: fixed;
  content: "";
  width: 100%;

  margin: 0;
  padding: 0;
  z-index: -40;

  /* mix-blend-mode: multiply; */
  background-color: none;
}

.cursor {
  background-color: #09b4ca85;
  height: 6px;
  width: 6px;
  border: 18px solid #02fcfc50;
  border-radius: 50%;
  backdrop-filter: "blur(5px)";
  position: fixed;

  top: 0;
  left: 0;
  z-index: 100;
  pointer-events: none;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E"); */
  mix-blend-mode: difference;
}
